.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
}

.text-center {
  flex-grow: 1;
}
